* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 1vw;

  background: #fff;
  border-bottom: 0.3rem solid rgba(129, 129, 129, 0.267);
  z-index: 1000;
}

.close-btn {
  display: none
}

.menu-toggle {
  display: none;
  font-size: 3vh;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1vw; 
}

.logo img {
  height: 9vh;
  max-height: 150px
}

.nav {
  display: flex;
  align-items: center;
  gap: 6vw;
  justify-content: flex-end;
  flex-grow: 1;
  padding-right: 4vw;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2vw;      
}

.nav-links a {
  text-decoration: none;
  color: #555;
  font-weight: 550;
  font-size: 1.5rem;
  padding: 2vh 0.5vw;    
  
  height: 6vh;
  line-height: 9vh;
  padding: 1vw;
  z-index: 10;
}

.nav-links a.active {
  position: relative;
  top: 2.5vh;

  color: #fff;
  background: #1e90ff;
  padding: 8vh 4vw;
  font-size: 1.8rem;
  font-weight: 600;
}

.enroll-btn {
  text-decoration: none;
  border: 0.15rem solid green;
  background-color: white;
  color: green;
  padding: 3vh 1.5vw;       
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 5vw;
}

.menu-toggle {
  display: none;
  font-size: 5vh;
  cursor: pointer;
  padding-right: 4vw;
}

/* End of Topbar */

.headcontent {
  display: flex;
  height: 60vh;
  width: 100%;
  background: #eeeeee71;
  position: relative;
  margin-top: 12vh;
}

.head-text {
  width: 50%;
  padding: 8vh 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.head-text h1 {
  font-size: 2rem;
  line-height: 1.4;
  color: #0a1a7a;
  margin-bottom: 4vh;
}


.head-image {
  width: 50%;
  height: 60vh;  
}

.fade {
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255,255,255,1),
    rgba(255,255,255,0)
  );
  pointer-events: none;
}


.head-buttons {
  display: flex;
  gap: 1.5vw;
}

.primary-btn {
  background: #1e90ff;
  color: #fff;
  border: none;
  padding: 2vh 2vw;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

.secondary-btn {
  background: #bbb;
  color: #fff;
  border: none;
  padding: 2vh 2vw;
  font-size: 1.1rem;
  cursor: pointer;
}

.head-image {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


/* Mobile */
@media (max-width: 1230px) {
  .nav {
    width: 100%;
    justify-content: space-between;
    position: relative;
  }

  .enroll-btn {
    margin-top: 5vh;
    font-size: 100%;
  }

  .menu-toggle {
    display: block;
    font-size: 5vh;
    cursor: pointer;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 40%;
    background: #fff;
    flex-direction: column;
    padding: 2vh 1vw;
    gap: 1vh;
    border-left: 0.1rem solid #ddd;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    transition: right 0.3s ease;
    z-index: 1000;
  }

    .nav-links .close-btn {
    text-align: right; 
    padding: 1vh 2vw;
    font-size: 2rem;  
    cursor: pointer;
    border-bottom: 0.1rem solid #ddd;
  }

  .nav-links .close-btn span:hover {
    color: red;
  }

  .nav-links.show {
    right: 0;
  }

  .nav-links li {
    width: 100%;
  }

  .nav-links a {
    display: block;
    padding: 1.5vh 2vw 7vh;
    font-size: 1.2rem;
    color: #555;
    border-bottom: 0.1rem solid #ddd;
    width: 100%;
    box-sizing: border-box;
  }
  .nav-links a.active {
    top: 0;
    padding: .5vh 2vw 8vh;
    font-size: 1rem;
  }
  .close-btn {
    display: block;
    margin-top: 2vh;
  }
    .headcontent {
    flex-direction: column;
    height: auto;
  }

  .head-text,
  .head-image {
    width: 100%;
  }

  .head-text h1 {
    font-size: 1rem;
    line-height: 1.3;
  }
  .head-image img {
    height: 40vh;
  }
    .fade {
    padding-top: 200vh;
    width: 100%;
    height: 35%;
    left: 0;
    top: 0;

    background: linear-gradient(
      to bottom,
      rgba(255,255,255,1),
      rgba(255,255,255,0)
    );
  }
  .primary-btn, .secondary-btn {
    font-size: 0.8rem;
    padding: 1.5vh 2vw;
  }
}